<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Employee</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <form action="/add-employee" method="post">
        <label>Email: </label>
        <input type="text" name="email" required>
        <label>Password: </label>
        <input type="password" name="password" required>
        <label>First Name: </label>
        <input type="text" name="fname">
        <label>Last Name: </label>
        <input type="text" name="lname">
        <label>Sales This Year: </label>
        <input type="text" name="yearsales">
        <label>Years With Company: </label>
        <input type="text" name="years">
        <label>Total Sales: </label>
        <input type="text" name="totalsales">
    </form>
</body>
</html>
